$pc-width: 1110px;
$mobile-width: 345px;
$pad-width: 750px;
$pic-url:'https://hexschool.github.io/webLayoutTraining1st/perfume-week6/';
$color-w: #FFF;
$color-gray: #8D8D8D;
$eng: -apple-system, BlinkMacSystemFont, sans-serif;
$chi: PingFangTC-Regular, sans-serif;
$fz20: 20px;
$lh30: 30px;
$fz24: 24px;
$lh36: 36px;